# This is a basic workflow to help you get started with Actions

name: RDA News Crawler

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  schedule:
      - cron: '0 10 * * *'
  workflow_dispatch: # 수동 실행 옵션
  # Allows you to run this workflow manually from the Actions tab
 

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3 # GitHub 리포지토리를 체크아웃(다운로드)
      # 파이썬 환경을 설정
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.11
      # 필요한 패키지를 설치합니다.
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          
       # main.py 파일을 실행합니다.
      - name: Run main.py
        run: |
          python main.py
        env:
          MY_GITHUB_TOKEN: ${{ secrets.GIT_ACTION_KEY }}
          TWILIO_ACCOUNT_SID: ${{ secrets.TWILIO_ACCOUNT_SID }}
          TWILIO_AUTH_TOKEN: ${{ secrets.TWILIO_AUTH_TOKEN }}
          TWILIO_PHONE_NUMBER: ${{ secrets.TWILIO_PHONE_NUMBER }}
          TO_PHONE_NUMBER: ${{ secrets.TO_PHONE_NUMBER }}
